@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body{
    background-image: linear-gradient(black, darkred);
    background-attachment: fixed;
}

.parent-nav{
	border: none;
	color: white;
	background-color: black;
	padding: 5px 5px 0px 5px;
	text-align: left;
	text-decoration: none;
	font-size: 25px;
	cursor: pointer;
}

.child-nav{
	border: none;
	display: block;
	text-decoration: none;
	width: auto;
	margin: 15px 0px 0px;
	padding: 0px 0px 0px 5px;
	transition: 0.5s;
	color: white;
	background-color: black;
	font-size: 15px;
	cursor: pointer;
}

.item-nav{
	border: none;
	display: block;
	text-decoration: none;
	width: auto;
	margin: 15px 0px 0px;
	padding: 0px 0px 0px 5px;
	transition: 0.5s;
	color: white;
	background-color: black;
	font-size: 15px;
	cursor: pointer;
}

.child-nav:hover{
	color: grey;
}

.item-nav:hover{
	color: grey;
}

.mobile-top-nav{
	border-radius: 0px 0px 25px 25px;
	border-bottom: 3px solid darkred;
	padding: 0px 0px 10px;
	margin: 0px 0px 0px;
	overflow-y: auto;
	height: auto;
	max-height: 100%;
	background-color: black;
}

.mobile-top-nav .nav-hold{
	border-right: 3px solid darkred;
	display: none;
	position: absolute;
	border-radius: 0px 0px 25px 25px;
	width: 50%;
	margin: 10px 0px 0px;
	padding: 0px 0px 20px 10px;
	transition: 0.5s;
	background-color: black;
	transition: 0.5s;
}

.mobile-top-nav .item-hold{
	display: none;
	width: auto;
	padding: 0px 0px 0px 10px;
	background-color: black;
	transition: 0.5s;
}

.mobile-top-nav .item-hold a{
	color: white;
	text-decoration: none;
}

.mobile-logo{
	display: block;
	width: auto;
	text-align: center;
	margin-top: 50px;
}

.desktop-logo{
	display: none;
	width: auto;
	text-align: center;
	margin-top: 100px;
}

.notice{
	color: white;
	padding: 0px;
	margin: 25px 50px 25px 20px;
}

.ext-foot{
	border-style: none;
	border-radius: 15px 0px 0px 0px;
	color: white;
	background-color: black;
	position: fixed;
	padding: 10px 10px 30px;
	right: 0px;
}

#footer{
	position: fixed;
	width: 100%;
	height: 0px;
	bottom: 0px;
	background-color: black;
	text-align: center;
	color: white;
}

@media only screen and (min-width: 1000px) {
	
	.child-nav{
		display: inline-block;
	}
	
	.mobile-top-nav{
		margin: 50px 100px;
		border-radius: 25px;
		border-top: 3px solid darkred;
	}
	
	.mobile-top-nav .nav-hold{
		width: 500px;
	}
	
	.mobile-logo{
		display: none;
	}
	
	.desktop-logo{
		display: block;
	}
	
	.notice{
		margin: 25px 100px 25px;
	}
}

