/* CSS Document */

.picture{
	width: auto;
	text-align: center;
}

.m-picture{
	display: none;
}

.notice{
	color: white;
	width: auto;
	height: auto;
	margin: 0px 70px 0px;
}

@media only screen and (max-width:600px){
	.picture{
		display: none;
	}
	.m-picture{
		display: block;
		text-align: center;
	}
}
